<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.bdgg.myway.refresh</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>마이웨이</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>myway</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>AIzaSyDelVDyjqTQyns5noConZiN8Q3jbOmwUDE</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSHealthShareUsageDescription</key>
	<string>걸음 수 데이터를 읽기 위해 건강 데이터 접근 권한이 필요합니다.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>걸음 수 데이터를 업데이트하기 위해 건강 데이터 쓰기 권한이 필요합니다.</string>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자가 산책 경로를 기록하고, 현재 위치를 기준으로 2km 이내 공원을 안내하기 위해 위치 정보가 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>산책 중 경로를 지속적으로 기록하고, 종료 시 산책 통계를 제공하기 위해 위치 정보를 항상 사용합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>앱이 백그라운드에서도 산책 경로를 기록하여, 사용자가 앱을 닫아도 걸은 경로를 확인할 수 있도록 위치를 사용합니다.</string>

	<key>NSMotionUsageDescription</key>
	<string>걸음 수 측정을 위해 모션 센서를 사용합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>이미지를 갤러리에 저장하기 위해 권한이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>이미지를 갤러리에 저장하기 위해 권한이 필요합니다.</string>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.704381393234-c7r2h7qfdol0fm6s3ek5oh8t1sb4vjsn</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>704381393234-p9uvtb1lpfcrdek44aimlbr6tt78ii8b</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	
</dict>
</plist>
